.messages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.message {
  background-color: white;
  box-shadow: 0px 4px 3px #bebebe;
  border-radius: 6px;
  max-width: 300px;
  display: flex;
}
p {
  word-break: break-all;
}

.stripe {
  min-width: 10px;
  background-color: #0284c7;
  border-radius: 7px 0 0 7px;
  padding: 0;
}

.cardContent {
  padding: 20px 20px 5px 30px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.message .title {
  font-weight: 700;
}

.message .author {
  text-align: left;
  font-style: italic;
  font-size: 0.9em;
}

.delete button {
  padding: 0 5px;
  margin: 5px;
}
