.sidebar {
  color: white;
  font-size: 2rem;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.5em;
}

.sidebar ul{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.sidebar a {
  color: inherit;
  text-decoration: inherit;
  font-size: 1.5rem;
}
