* {
  font-family: sans-serif, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(234, 234, 234);
}

#root {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 5px;
  margin-bottom: 1em;
  margin-top: 1em;
}

form input,
textarea {
  font: 1em sans-serif;
  padding: 0.2em;
  border: 1px solid #999;
}

form p {
  font-size: 0.8em;
}

button {
  background-color: #0284c7;
  color: white;
  padding: 6px 15px;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  background-color: #016090;
}
